<%- include('./partials/navbar.ejs') %>
    <div class="form-container">
        <div class="form">
            <h1>Login </h1>
            <form action="/api/v1/users/login" method="post">
                <div class="box">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="abc@gmail.com" required>
                </div>
                <div class="box">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="*******" required>
                </div>
                <% if (error) { %>
                    <span class="error">
                        <%=error %>
                    </span>
                    <% } %>
                        <div class="box">
                            <button type="submit" class="btn">Login</button>
                        </div>
                        <div class="box">
                            <p>Don't have an account <a href="/api/v1/users/register">Signup</a></p>
                        </div>
            </form>
        </div>
    </div>