<%- include('./partials/navbar.ejs') %>
    <div class="form-container">
        <div class="form">
            <h1>Update user</h1>
            <form action="/api/v1/users/update?_method=put" method="post">
                <div class="box">
                    <label for="fullname">Fullname</label>
                    <input type="fullname" value="<%=user?.fullname%>" name="fullname" id="fullname" required>
                </div>
                <div class="box">
                    <label for="email">Email</label>
                    <input type="email" value="<%=user?.email%>" name="email" id="email" required>
                </div>
                <% if (error) { %>
                    <span class="error">
                        <%=error %>
                    </span>
                    <% } %>
                        <div class="box">
                            <button type="submit" class="btn">Update </button>
                        </div>
            </form>
        </div>
    </div>